<div class="vcontainer edit-profile">
  <h2>Edit Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
    <%= render "partials/error" %>

    <div class="field row avatar">
      <% if resource.avatar.file.nil? %>
        <%= image_tag(resource.avatar_url, class: 'default', onClick: "$(this).parent().find('input[type=file]').click();") %>
      <% else %>
        <%= image_tag(resource.avatar_url(:medium), onClick: "$(this).parent().find('input[type=file]').click();") %>
      <% end %>
      <%= f.file_field :avatar, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="field column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% if !resource.provider.present? %>
      <div class="field column">
        <div class="field column">
          <div class="field row no-space">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <i>(leave blank if you don't want to change it)</i>
        </div>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field column">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field column">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
        <%= f.hidden_field  :avatar_cache %>
      </div>
    <% end %>

    <br />

    <div class="action">
      <%= f.submit "Update", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <p class="text-center text-muted">
    <small>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small><br />
  </p>
</div>
