<nav class="navbar">
  <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
  <a href="#" class="brand">Login Component</a>
  <div class="left">
    <%= link_to 'Home', root_path, method: :get , class: "link" %>
  </div>
  <div class="right">
    <% if user_signed_in? %>
      <%= link_to 'Profile', edit_user_registration_path, method: :get , class: "link" %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "link"  %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path, method: :get , class: "link"  %>
      <%= link_to 'Sign Up', new_user_registration_path, method: :get , class: "link" %>
    <% end %>
  </div>
</nav>
